--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0+cpu
torchvision==0.17.0+cpu
numpy<2.0.0
sentence-transformers
fastapi
uvicorn[standard]
python-multipart
pillow
httpx
requests
qdrant-client
psycopg2-binary
python-dotenv
